@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
// Fonts
$font-main: 'Poppins', sans-serif;
$font-sub: 'Poppins', sans-serif;

// Font Weights
$light: 100;
$normal: 400;
$semibold: 700;
$bold: 900;

// Colors
$dark-color: #8a6e27;
$medium-color: #c1a151;
$bg-color: #a89668;

// Font sizes
$large: calc((.4em + 2vmin) + (.4em + 2vmax));
$medium: calc((.4em + 0.5vmin) + (.4em + 0.5vmax));
$small: calc((.4em + 0.25vmin) + (.4em + 0.25vmax));

// Other
$container-width: 70%;

//Mobile Font Sizes

$mobile-small: 20px;
$mobile-medium: 24px;
$mobile-large: 36px;