@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
.bar {
  margin: 0 auto;
  width: 70%;
  font-family: "Poppins", sans-serif;
  color: white;
}

.list {
  list-style-type: none;
  display: block;
  overflow: hidden;
  padding: 0;
  font-size: 20px;
}

.list-name {
  display: inline;
  float: left;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  font-weight: 900;
}

.list-name:hover {
  color: #8a6e27;
}

.list-item {
  display: inline;
  float: right;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.list-item:hover {
  color: #8a6e27;
}

html, body {
  margin: 0;
  padding: 0;
  background: #a89668;
}

.container {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  width: 70%;
  font-family: "Poppins", sans-serif;
  color: white;
}

.post {
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: (50%)[2];
      grid-template-rows: repeat(2, 50%);
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.post:hover {
  -webkit-transform: skew(-0.5deg, -0.5deg);
          transform: skew(-0.5deg, -0.5deg);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.post-text {
  vertical-align: middle;
}

.post-text__title {
  font-weight: 900;
  font-size: 56px;
  padding-bottom: 10px;
  color: white;
}

.post-text__description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
}

.post-text__button {
  background-color: #8a6e27;
  border: none;
  font-size: 20px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0.5rem;
}

.post-text__button:hover {
  background-color: #c1a151;
}

.post-photo {
  margin-left: 20px;
  background-color: #aee;
  max-width: 75%;
}

a {
  text-decoration: none;
  color: inherit;
}

.info {
  font-family: "Poppins", sans-serif;
  margin: 12% 10%;
  width: 40%;
}

.info-title {
  font-weight: 100;
  font-size: 72px;
  margin-bottom: -10px;
  color: white;
}

.info-title__last {
  font-weight: 900;
}

.info-description {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 20px;
}

.info-nav {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 0 auto;
}

.info-nav__list {
  list-style: none;
  padding-left: 0;
}

.info-nav__list__item {
  display: inline;
  margin-right: 5rem;
  color: white;
}

.info-nav__list__item:hover {
  color: #8a6e27;
}

.info-icons {
  color: white;
}

.info-icons__item {
  margin-right: 4rem;
}

.info-icons__item:hover {
  color: #8a6e27;
}

.picture {
  position: fixed;
  bottom: 0px;
  left: 50%;
  height: 75%;
  max-height: 100%;
  max-width: 50%;
  pointer-events: none;
}

@media only screen and (max-width: 800px) {
  .info {
    font-family: "Poppins", sans-serif;
    margin: auto;
    width: 90%;
  }
  .info-title {
    margin-top: 10%;
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    color: white;
    margin-bottom: 10%;
  }
  .info-title__last {
    font-weight: 900;
  }
  .info-description {
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 20px;
  }
  .info-nav {
    margin: auto;
    max-width: 99%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
  }
  .info-nav__list__item {
    color: white;
    padding: 0px;
    margin: 24px;
  }
  .info-nav__list__item:hover {
    color: #8a6e27;
  }
  .info-icons {
    color: white;
  }
  .info-icons__item:hover {
    color: #8a6e27;
  }
  .picture {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a6e27;
  border-radius: 10px;
}
/*# sourceMappingURL=styles.css.map */